'fileTypes':
  ['arc']

'name': 'Perspectives Arc'
'scopeName': 'perspectives-arc'
'macros':
  'maybeBirdTrack': '^'
  'character': '(?:[ -\\[\\]-~]|(\\\\(?:NUL|SOH|STX|ETX|EOT|ENQ|ACK|BEL|BS|HT|LF|VT|FF|CR|SO|SI|DLE|DC1|DC2|DC3|DC4|NAK|SYN|ETB|CAN|EM|SUB|ESC|FS|GS|RS|US|SP|DEL|[abfnrtv\\\\\\"\'\\&]))|(\\\\o[0-7]+)|(\\\\x[0-9A-Fa-f]+)|(\\^[A-Z@\\[\\]\\\\\\^_]))'
  'ranges': '(?:String|Boolean|Number|Date)'
  'keywordlimit': '[\\:|\\s]'
'patterns': [
  {
    'name': 'keyword.control.perspectives-arc'
    'match': 'mandatory|functional|not\\s|on\\s|with\\s|for\\s|\\sif\\s|\\sthen\\s'
  }
  {
    'name': 'comment.propertyrange.arc.perspectives-arc'
    'match': 'String|Number|Boolean|DateTime|Consult|Change|Delete|Create|Bind'
  }
  {
    'name': 'entity.name.type.contextkinds.arc.perspectives-arc'
    'match': 'domain|case|party|activity|state'
  }
  {
    'name': 'string.rolekinds.arc.perspectives-arc'
    'match': 'external|thing|context|user|bot'
  }
  {
    'name': 'entity.name.function.rolepart.arc.perspectives-arc'
    'match': 'property|view|perspective'
  }
  {
    'name': 'variable.aspect.arc.perspectives-arc'
    'match': 'aspect|use[\\:|\\s]|filledBy|indexed'
  }
  {
    'name': 'variable.interpolation.actionparts.arc.perspectives-arc'
    'match': 'indirectObject|subjectView'
  }
  {
    'include': '#comments'
  }
]
'repository':
  'comments':
    'patterns': [
      {
        'begin': '(^[ \\t]+)?(?=--+\\s+\\|)'
        'end': '(?!\\G)'
        'beginCaptures':
          '1':
            'name': 'punctuation.whitespace.comment.leading.perspectives-arc'
        'patterns': [
          {
            'name': 'comment.line.double-dash.documentation.perspectives-arc'
            'begin': '(--+)\\s+(\\|)'
            'end': '\\n'
            'beginCaptures':
              '1':
                'name': 'punctuation.definition.comment.perspectives-arc'
              '2':
                'name': 'punctuation.definition.comment.documentation.perspectives-arc'
          }
        ]
      }
      {
        'begin': '(^[ \\t]+)?(?=--+)'
        'end': '(?!\\G)'
        'beginCaptures':
          '1':
            'name': 'punctuation.whitespace.comment.leading.perspectives-arc'
        'patterns': [
          {
            'name': 'comment.line.double-dash.perspectives-arc'
            'begin': '--'
            'end': '\\n'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.perspectives-arc'
          }
        ]
      }
      {
        'include': '#block_comment'
      }
    ]
  'block_comment':
    'patterns': [
      {
        'name': 'comment.block.documentation.perspectives-arc'
        'begin': '\\{-\\s*\\|'
        'end': '-\\}'
        'applyEndPatternLast': 1
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.documentation.perspectives-arc'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.comment.documentation.perspectives-arc'
        'patterns': [
          {
            'include': '#block_comment'
          }
        ]
      }
      {
        'name': 'comment.block.perspectives-arc'
        'begin': '\\{-'
        'end': '-\\}'
        'applyEndPatternLast': 1
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.perspectives-arc'
        'patterns': [
          {
            'include': '#block_comment'
          }
        ]
      }
    ]
  'characters':
    'patterns': [
      {
        'match': '(?:[ -\\[\\]-~]|(\\\\(?:NUL|SOH|STX|ETX|EOT|ENQ|ACK|BEL|BS|HT|LF|VT|FF|CR|SO|SI|DLE|DC1|DC2|DC3|DC4|NAK|SYN|ETB|CAN|EM|SUB|ESC|FS|GS|RS|US|SP|DEL|[abfnrtv\\\\\\"\'\\&]))|(\\\\o[0-7]+)|(\\\\x[0-9A-Fa-f]+)|(\\^[A-Z@\\[\\]\\\\\\^_]))'
        'captures':
          '1':
            'name': 'constant.character.escape.perspectives-arc'
          '2':
            'name': 'constant.character.escape.octal.perspectives-arc'
          '3':
            'name': 'constant.character.escape.hexadecimal.perspectives-arc'
          '4':
            'name': 'constant.character.escape.control.perspectives-arc'
      }
    ]
